flows (2).json
[{"id":"f9040d49.98245","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"12d1c4a.f265b3b","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"e5bdd6d0.afc458","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"9f876e09.c7bbb","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"ef924d29.b28af","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"234cb856.ea5558","type":"ui_tab","z":"","name":"SmartBridge","icon":"dashboard","disabled":false,"hidden":false},{"id":"f11ef5e.3814c08","type":"ui_group","z":"","name":"Regression","tab":"234cb856.ea5558","disp":true,"width":"6","collapse":false},{"id":"9dafb35.85b0c5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"336b94c0.3cbc2c","type":"ui_tab","z":"","name":"accuracy","icon":"dashboard","disabled":false,"hidden":false},{"id":"76d2db9a.3818f4","type":"ui_group","z":"","name":"Default","tab":"336b94c0.3cbc2c","disp":true,"width":"6","collapse":false},{"id":"c997aeed.b8f8f","type":"ui_form","z":"f9040d49.98245","name":"","label":"o.ring.failures","group":"f11ef5e.3814c08","order":0,"width":0,"height":0,"options":[{"label":"temperature","value":"temp","type":"number","required":true}],"formValue":{"temp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":75,"y":199,"wires":[["1cfccac2.181935","ea549a78.d154b8","7288c45f.6d539c"]]},{"id":"1cfccac2.181935","type":"ui_text","z":"f9040d49.98245","group":"f11ef5e.3814c08","order":1,"width":0,"height":0,"name":"","label":"temperature","format":"{{msg.payload.temp}}","layout":"row-spread","x":248,"y":246,"wires":[]},{"id":"ea549a78.d154b8","type":"debug","z":"f9040d49.98245","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":263.5,"y":169,"wires":[]},{"id":"7288c45f.6d539c","type":"function","z":"f9040d49.98245","name":"token generation","func":"global.set(\"temp\",msg.payload.temp)\nreturn msg;","outputs":1,"noerr":0,"x":265.5,"y":76,"wires":[["47c850ed.b7a2"]]},{"id":"47c850ed.b7a2","type":"http request","z":"f9040d49.98245","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":487,"y":96,"wires":[["e4138ed9.7387e","e4b81d35.3bc87"]]},{"id":"e4138ed9.7387e","type":"function","z":"f9040d49.98245","name":"prediction","func":"var token=msg.payload.token;\nvar temp=global.get(\"temp\");\nmsg.payload={\"fields\":[\"tempearture\"],\"values\":[[temp]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":743.5,"y":82,"wires":[["698ded4b.d407b4"]]},{"id":"e4b81d35.3bc87","type":"debug","z":"f9040d49.98245","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":669.5,"y":147,"wires":[]},{"id":"698ded4b.d407b4","type":"http request","z":"f9040d49.98245","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be5e6ff7-8d5d-4e2b-94af-f4bc60c27364/deployments/6b7ccd04-7af8-43e1-894b-3d78dd91c5c4/online","tls":"","proxy":"","authType":"basic","x":916,"y":85,"wires":[["a6969507.189ad8","3df6719.635bd8e"]]},{"id":"a6969507.189ad8","type":"debug","z":"f9040d49.98245","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1159.5,"y":48,"wires":[]},{"id":"3df6719.635bd8e","type":"function","z":"f9040d49.98245","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1175.5,"y":116,"wires":[["225a4f44.4a62","fdc91779.080e48"]]},{"id":"225a4f44.4a62","type":"debug","z":"f9040d49.98245","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1337.5,"y":217,"wires":[]},{"id":"fdc91779.080e48","type":"ui_text","z":"f9040d49.98245","group":"f11ef5e.3814c08","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":1357,"y":79,"wires":[]},{"id":"f20ba96f.737d68","type":"ui_form","z":"12d1c4a.f265b3b","name":"","label":"o.ring.failures","group":"76d2db9a.3818f4","order":0,"width":0,"height":0,"options":[{"label":"temperature","value":"temp","type":"number","required":true}],"formValue":{"temp":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":75,"y":188,"wires":[["2b401d60.071bd2","16d315a0.1ac6ea","99229749.c9dfe8"]]},{"id":"2b401d60.071bd2","type":"ui_text","z":"12d1c4a.f265b3b","group":"76d2db9a.3818f4","order":1,"width":0,"height":0,"name":"","label":"temperature","format":"{{msg.payload.temp}}","layout":"row-spread","x":292,"y":283,"wires":[]},{"id":"16d315a0.1ac6ea","type":"debug","z":"12d1c4a.f265b3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":291,"y":123,"wires":[]},{"id":"99229749.c9dfe8","type":"function","z":"12d1c4a.f265b3b","name":"token generation","func":"global.set(\"temp\",msg.payload.temp)\nreturn msg;","outputs":1,"noerr":0,"x":292,"y":20,"wires":[["428e199b.bd2b08"]]},{"id":"428e199b.bd2b08","type":"http request","z":"12d1c4a.f265b3b","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":538,"y":63,"wires":[["8adeb8a3.59d8a8","100819b1.a1b0e6"]]},{"id":"8adeb8a3.59d8a8","type":"debug","z":"12d1c4a.f265b3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":706,"y":119,"wires":[]},{"id":"100819b1.a1b0e6","type":"function","z":"12d1c4a.f265b3b","name":"prediction","func":"var token=msg.payload.token;\nvar temp=global.get(\"temp\");\nmsg.payload={\"fields\":[\"temperature\"],\"values\":[[temp]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":693,"y":26,"wires":[["1817737.adb518d"]]},{"id":"1817737.adb518d","type":"http request","z":"12d1c4a.f265b3b","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/afbafcd0-4675-4b0e-8daf-b3e59b699ce7/deployments/f332ce80-a10e-4e95-9ab1-345ebd1efe47/online","tls":"","proxy":"","authType":"basic","x":898,"y":41,"wires":[["fec3dfde.96af5","e1153e3.98f7cc"]]},{"id":"fec3dfde.96af5","type":"debug","z":"12d1c4a.f265b3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1119,"y":43,"wires":[]},{"id":"e1153e3.98f7cc","type":"function","z":"12d1c4a.f265b3b","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1113,"y":108,"wires":[["548c388c.422cf8","256f3e13.6a43c2"]]},{"id":"548c388c.422cf8","type":"debug","z":"12d1c4a.f265b3b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1330,"y":176,"wires":[]},{"id":"256f3e13.6a43c2","type":"ui_text","z":"12d1c4a.f265b3b","group":"76d2db9a.3818f4","order":2,"width":0,"height":0,"name":"","label":"prediction","format":"{{msg.payload}}","layout":"row-spread","x":1341,"y":77,"wires":[]},{"id":"3aca9f38.36ea5","type":"ui_form","z":"9f876e09.c7bbb","name":"","label":"Age","group":"f11ef5e.3814c08","order":3,"width":0,"height":0,"options":[{"label":"Shell weight","value":"sw","type":"number","required":true},{"label":"Length","value":"ln","type":"number","required":true},{"label":"Height","value":"ht","type":"number","required":true},{"label":"Diameter","value":"dt","type":"number","required":true},{"label":"Whole weight","value":"ww","type":"number","required":true},{"label":"Shucked weight","value":"shw","type":"number","required":true},{"label":"Viscera weight","value":"vw","type":"number","required":true}],"formValue":{"sw":"","ln":"","ht":"","dt":"","ww":"","shw":"","vw":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":55,"y":170,"wires":[["a69eae07.ff7c7","7a8df1ce.389","3c1a7bc0.d679b4","76640837.432ca8","e4fb844e.339e38","c121f2a7.bb4d6","302c2c2c.bc6404","22f05da8.d906e2","30287a46.b7dcd6"]]},{"id":"a69eae07.ff7c7","type":"debug","z":"9f876e09.c7bbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":220,"y":171,"wires":[]},{"id":"7a8df1ce.389","type":"function","z":"9f876e09.c7bbb","name":"token generation","func":"global.set(\"sw\",msg.payload.sw)\nglobal.set(\"ln\",msg.payload.ln)\nglobal.set(\"ht\",msg.payload.ht)\nglobal.set(\"dt\",msg.payload.dt)\nglobal.set(\"ww\",msg.payload.ww)\nglobal.set(\"shw\",msg.payload.shw)\nglobal.set(\"vw\",msg.payload.vw)\nreturn msg;","outputs":1,"noerr":0,"x":246,"y":61,"wires":[["1b9708f.5bfa0f7"]]},{"id":"3c1a7bc0.d679b4","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":4,"width":0,"height":0,"name":"","label":"Shell weight","format":"{{msg.payload.sw}}","layout":"row-spread","x":229,"y":254,"wires":[]},{"id":"1b9708f.5bfa0f7","type":"http request","z":"9f876e09.c7bbb","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","authType":"basic","x":445,"y":62,"wires":[["e2ec8fbe.bc47b","ed30f41c.ddc478"]]},{"id":"e2ec8fbe.bc47b","type":"function","z":"9f876e09.c7bbb","name":"Prediction","func":"var token=msg.payload.token;\nvar sw=global.get(\"sw\");\nvar ln=global.get(\"ln\");\nvar ht=global.get(\"ht\");\nvar dt=global.get(\"dt\");\nvar ww=global.get(\"ww\");\nvar shw=global.get(\"shw\");\nvar vw=global.get(\"vw\");\nmsg.payload={\"fields\":[\"Shell weight\",\"Length\",\"Height\",\"Diameter\",\"Whole weight\",\"Viscera weight\",\"Shucked weight\"],\"values\":[[sw,ln,ht,dt,ww,shw,vw]]};\nmsg.headers={\"Authorization\":\"Bearer\"+token}\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":34,"wires":[["dedb9fa2.30ec"]]},{"id":"ed30f41c.ddc478","type":"debug","z":"9f876e09.c7bbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":612,"y":125,"wires":[]},{"id":"dedb9fa2.30ec","type":"http request","z":"9f876e09.c7bbb","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be5e6ff7-8d5d-4e2b-94af-f4bc60c27364/deployments/30597431-38d2-4059-8777-3b210509b705/online","tls":"","proxy":"","authType":"basic","x":807,"y":31,"wires":[["db5d87d1.928dc8","d08a9daa.4883b"]]},{"id":"db5d87d1.928dc8","type":"debug","z":"9f876e09.c7bbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1021,"y":20,"wires":[]},{"id":"d08a9daa.4883b","type":"function","z":"9f876e09.c7bbb","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1008,"y":90,"wires":[["d8ab57a7.1fe4a8","b593a17b.af4b"]]},{"id":"d8ab57a7.1fe4a8","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":5,"width":0,"height":0,"name":"","label":"Age","format":"{{msg.payload}}","layout":"row-spread","x":1228,"y":26,"wires":[]},{"id":"b593a17b.af4b","type":"debug","z":"9f876e09.c7bbb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1230,"y":140,"wires":[]},{"id":"76640837.432ca8","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":3,"width":0,"height":0,"name":"","label":"Length","format":"{{msg.payload.ln}}","layout":"row-spread","x":226,"y":298,"wires":[]},{"id":"e4fb844e.339e38","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":4,"width":0,"height":0,"name":"","label":"Diameter","format":"{{msg.payload.dt}}","layout":"row-spread","x":236,"y":349,"wires":[]},{"id":"c121f2a7.bb4d6","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":5,"width":0,"height":0,"name":"","label":"Height","format":"{{msg.payload.ht}}","layout":"row-spread","x":227,"y":392,"wires":[]},{"id":"302c2c2c.bc6404","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":6,"width":0,"height":0,"name":"","label":"Whole weight","format":"{{msg.payload.ww}}","layout":"row-spread","x":257,"y":429,"wires":[]},{"id":"22f05da8.d906e2","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":7,"width":0,"height":0,"name":"","label":"Shucked weight","format":"{{msg.payload.shw}}","layout":"row-spread","x":249,"y":471,"wires":[]},{"id":"30287a46.b7dcd6","type":"ui_text","z":"9f876e09.c7bbb","group":"f11ef5e.3814c08","order":8,"width":0,"height":0,"name":"","label":"Viscera weight","format":"{{msg.payload.vw}}","layout":"row-spread","x":241,"y":216,"wires":[]}]